<p><%= @resource.email %>さん</p>

<p>パスワード再設定用のURLをお送りしました</p>

<p><%= link_to 'パスワード再設定', edit_applicant_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールにお心当たりが無い場合は無視してください</p>
<p>上記リンクから設定を行わない限りパスワードは変更されません</p>
